<form method="post" action="/checkout">
  <label for="item_purchased"> Item to Purchase:</label>
  <input type="text" id="item_purchased" name="item_purchased"><br/>
  <button type="submit" value="submit">Submit</button>
</form>
